.sharer-container {
  margin-bottom: 20px;
  margin-top: 20px;
}

a.sharer {
  background-color: #aaa;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 0 #888, 1px 4px 2px rgba(0,0,0,0.2);
  color: white;
  font-family: sans-serif;
  outline: none;
  padding: 10px;
  position: relative;
  overflow: hidden;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  width: 30px;
  height: 30px;
  margin-left:4px;
  margin-right:4px;
}

a.sharer[data-sharer="twitter"] {
  background-color: #00aced;
  box-shadow: 0 0 0 #0084b4, 1px 2px 4px rgba(0,0,0,0.2);
}
a.sharer[data-sharer="facebook"] {
  background-color: #3b5998;
  box-shadow: 0 0 0 #224389, 1px 2px 4px rgba(0,0,0,0.2);
}
a.sharer[data-sharer="linkedin"] {
  background-color: #007AB5;
  box-shadow: 0 0 0 #005E8C, 1px 2px 4px rgba(0,0,0,0.2);
}
a.sharer[data-sharer="googleplus"] {
  background-color: #DD4C39;
  box-shadow: 0 0 0 #BB2D1A, 1px 2px 4px rgba(0,0,0,0.2);
}
a.sharer[data-sharer="email"] {
  background-color: #444;
  box-shadow: 0 0 0 #222, 1px 2px 4px rgba(0,0,0,0.2);
}
a.sharer[data-sharer="whatsapp"] {
  background-color: #4DC247;
  box-shadow: 0 0 0 #30AF29, 1px 2px 4px rgba(0,0,0,0.2);
}
a.sharer[data-sharer="telegram"] {
  background-color: #34ADE1;
  box-shadow: 0 0 0 #0E9BD8, 1px 2px 4px rgba(0,0,0,0.2);
}
a.sharer[data-sharer="hackernews"] {
  background-color: #FF6700;
  box-shadow: 0 0 0 #C65000, 1px 2px 4px rgba(0,0,0,0.2);
}
a.sharer[data-sharer="reddit"] {
  background-color: #CEE3F8;
  box-shadow: 0 0 0 #A2C6E8, 1px 2px 4px rgba(0,0,0,0.2);
  color: #335f89;
}
a.sharer[data-sharer="pocket"] {
  background-color: #EE4056;
  box-shadow: 0 0 0 #EE4056, 1px 2px 4px rgba(0,0,0,0.2);
}

a.sharer:hover {
    opacity: 0.8;
    transition: all 0.5s linear;
}

.sharer-split {
  margin-top: 25px;
}
